:root {
  --board: #0186d5;
  --board_shadow: #1e71ad;
  --piece_blue: #3636bd;
  --piece_blue_shadow: #3f3fc7;
  --piece_red: #d24848;
  --piece_red_shadow: #d96262;
  --text: #fece00;
  --accent: #e8372d;
  --accent_shadow: #ce371d;
  --highlight: #f9f17a;
  --white: #ffffff;
  --accent2: #525252;
  --unit: calc(min(1vh, 1vw));
  --piece-size: 7
}

.App {
  text-align: center;
  padding: 1rem;
  width: fit-content;
  margin: auto;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

button {
  /*Reset's every elements apperance*/
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  font-family: 'PT Sans Narrow',sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
}

button, .winDisplay, .turnDisplay {
  background: var(--accent);
  color: var(--text);
  font-size: calc(var(--unit) * 2);
  padding: var(--unit) calc(var(--unit) * 2);
  border-radius: calc(var(--unit) * 3);
  font-weight: bolder;
}

.winDisplay, .turnDisplay {
  max-width: calc(var(--unit) * 30);
  margin: calc(var(--unit)) auto auto;
}

button {
  cursor: pointer;
  margin: calc(var(--unit) * 1);
  transition: 0.3s;
}

button[disabled] {
  opacity: 50%;
}

button:hover {
  transform: scale(105%);
  background: var(--accent_shadow);
}

div {
  box-sizing: border-box;
}

.board {
  width: fit-content;
  display: flex;
  flex-direction: row;
  position: relative;
  margin: calc(var(--unit)) auto;
}

.columns {
  background: var(--board);
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: var(--unit) 0;
}

.column:first-child {
  padding-left: var(--unit);
}
.column:last-child {
  padding-right: var(--unit);
}

.piece {
  width: calc(var(--unit) * var(--piece-size));
  height: calc(var(--unit) * var(--piece-size));
  border-radius: 50%;
  margin: calc(var(--unit));
  background: var(--white);
  border: calc(var(--unit) * 0.5) solid var(--board_shadow);
}
.piece[data-state=BLUE] {
  background-color: var(--piece_blue_shadow);
}
.piece[data-state=RED] {
  background-color: var(--piece_red_shadow);
}
.piece::before {
  content: '';
  display: block;
  position: relative;
  width: 80%;
  top: 10%;
  left: 10%;
  height: 80%;
  border-radius: inherit;
}
.piece[data-state=BLUE]::before {
  background: var(--piece_blue);
}
.piece[data-state=RED]::before {
  background: var(--piece_red);
}

.holder {
  background-image: url("data:image/svg+xml,%3Csvg%20preserveAspectRatio%3D%22none%22%20viewBox%3D%220%200%20100%20100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%230071af%22%20d%3D%22%0A%20%20%20%20m%200%200%20l%200%20100%20l%20100%200%20l%20-50%20-20%20l%200%20-80%0A%20%20%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E");
  width: calc(var(--unit) * (var(--piece-size)));
  background-repeat: no-repeat;
}
.holder:nth-child(1) {
  transform: scaleX(-1);
  position: relative;
  left: 0.2px;
}

@keyframes appear {
  0% {
    transform: scale(95%);
  }
  100% {
    transform: scale(100%);
  }
}

.winDisplay {
  animation: appear ease 1s forwards;
}