div {
  box-sizing: border-box;
}

.board {
  width: fit-content;
  margin: auto;
  outline: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.board .column {
  display: flex;
  flex-direction: column;
}

.board .field {
  border: 1px solid black;
  width: 12vw;
  height: 12vw;
}

.board .field:first-child {
  display: block;
}

.board .field .piece {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  margin: 1vw;
}
.board .piece[data-state=BLUE] {
  background-color: blue;
}
.board .piece[data-state=RED] {
  background-color: red;
}