:root {
  --board: #0186d5;
  --board_shadow: #1e71ad;
  --piece_blue: #3636bd;
  --piece_blue_shadow: #3f3fc7;
  --piece_red: #d24848;
  --piece_red_shadow: #d96262;
  --text: #fece00;
  --accent: #e8372d;
  --accent_shadow: #ce371d;
  --highlight: #f9f17a;
  --white: #ffffff;
  --accent2: #525252
}

.App {
  text-align: center;
  padding: 1rem;
  width: fit-content;
  margin: auto;
}

button {
  /*Reset's every elements apperance*/
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  font-family: 'PT Sans Narrow',sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
}

button, .winDisplay, .turnDisplay {
  background: var(--accent);
  color: var(--text);
  font-size: 2vw;
  padding: 1vw;
  border-radius: 3vw;
  font-weight: bolder;
}

.winDisplay, .turnDisplay {
  max-width: 30vw;
  margin: 2vw auto auto;
}

button {
  cursor: pointer;
  margin: 1vw;
  transition: 0.3s;
}

button:hover {
  transform: scale(105%);
  background: var(--accent_shadow);
}

div {
  box-sizing: border-box;
}

.board {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  margin: 1vw auto;
}

.board .column {
  display: flex;
  flex-direction: column;
}

.board .field {
  width: 7vw;
  height: 7vw;
  background: var(--board);
}

.board .field:first-child {
  display: block;
}

.board .field .piece {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  margin: 0.75vw;
  background: var(--white);
  border: 0.5vw solid var(--board_shadow);
}
.board .piece[data-state=BLUE] {
  background-color: var(--piece_blue_shadow);
}
.board .piece[data-state=RED] {
  background-color: var(--piece_red_shadow);
}
.piece::before {
  content: '';
  display: block;
  position: relative;
  width: 80%;
  top: 10%;
  left: 10%;
  height: 80%;
  border-radius: inherit;
}
.piece[data-state=BLUE]::before {
  background: var(--piece_blue);
}
.piece[data-state=RED]::before {
  background: var(--piece_red);
}

.holder {
  background-image: url("data:image/svg+xml,%3Csvg%20preserveAspectRatio%3D%22none%22%20viewBox%3D%220%200%20100%20100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%230071af%22%20d%3D%22%0A%20%20%20%20m%200%200%20l%200%20100%20l%20100%200%20l%20-50%20-20%20l%200%20-80%0A%20%20%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E");
  width: 5vw;
}
.holder:nth-child(1) {
  transform: scaleX(-1);
}

@keyframes appear {
  0% {
    transform: scale(95%);
  }
  100% {
    transform: scale(100%);
  }
}

.winDisplay {
  animation: appear ease 1s forwards;
}